<footer class="footer">
    <div class="container">
        <div class="contact">
            <ul>
                <li>
                    <a href="mailto:{{ site.email }}">
                        <i class="bi bi-envelope-at-fill"></i> {{ site.email }}
                    </a>
                </li>
                <li>
                    <a href="https://github.com/{{ site.github_username }}">
                        <i class="bi bi-github"></i> {{ site.github_username }}
                    </a>
                </li>
                <li>
                    <a href="https://bsky.app/profile/{{ site.twitter_username }}">
                        <i class="bi bi-bluesky"></i> {{ site.twitter_username }}
                    </a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <ul>
                <li>&copy; {{ site.author }} {{ site.time | date: '%Y' }}</li>
            </ul>
        </div>
    </div>
</footer>
